<%- include("header") -%>



<!-- Pricing -->

<section class="white-section" id="pricing">

  <h2 class="section-heading">Select a ride </h2>
  <p>Easy to book safe to ride.</p>


  <div class="row">


    <div class="pricing-col col-lg-4 col-md-6">


      <div class="card">
        <div class="card-header">
          <h3>One Way</h3>
        </div>
        <div class="card-body">
          <h2 class="pricing-text">₹15/km</h2>
          <form class="" action="/driver" method="post">
            <input type="text" name="frm" value="" placeholder="From City">
            <input type="text" name="to" value="" placeholder="To City">
            <input type="date" name="dpt_date" id="date" value="" placeholder="pick the date">
            <button class="btn btn-block btn-outline-dark" type="submit">Ride Now</button>
          </form>



        </div>
      </div>
    </div>

    <div class="pricing-col col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Round Trip</h3>
        </div>
        <div class="card-body">
          <h2 class="pricing-text">₹15/km</h2>
          <form class="" action="index.html" method="post">
            <input type="text" name="frm" value="" placeholder="From City">
            <input type="text" name="to" value="" placeholder="To City">
            <input type="date" name="dpt_date" id="date" value="" placeholder="pick the date">
            <button class="btn btn-block btn-outline-dark" type="button" onclick="">Ride Now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="pricing-col col-lg-4 ">
      <div class="card">
        <div class="card-header">
          <h3>Multicity</h3>

        </div>
        <div class="card-body">
          <h2 class="pricing-text">₹15/km</h2>

          <form class="" action="" method="post">
            <input type="text" name="frm" value="" placeholder="From City">
            <input type="text" name="to" value="" placeholder="To City">
            <input type="date" name="dpt_date" id="date" value="" placeholder="pick the date">
            <button class="btn btn-block btn-outline-dark" type="button">Ride Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<section>

</section>


<!-- Call to Action -->


<%- include("footer") -%>
<!-- Footer -->
